@import "font"  	// fonts
@import "var"		// variables
@import "node"		// node modules

html
  font-size: 20px

body
  font-family: "OpenSans"
  color: $color-GulfBlue
  font-weight: normal
  font-size: 20px
  min-width: 60em
  margin: 0

  header,
  main,
  footer
    width: 100%

a
  outline: none

small
  line-height: 182%
  font-size: .9em

//p
//  line-height: 1
//  margin: 0

$hcollection: 2.05em, 1.7em, 1.35em, 1em, .8em, .7em
@for $hiteration from 1 through length($hcollection)
  $helem: nth($hcollection, $hiteration)

  h#{$hiteration}
    font-weight: 600
    font-size: $helem
    margin: 0

$height: 0.25
@for $num from 1 through 28
  $cur: $height * $num

  .clear_#{$cur * 20}
    height: calc(#{$cur} * 1em)

$height: 0.1
@for $num from 5 through 15
  $cur: $height * $num

  .lh_#{$num * 10 / 5}
    line-height: #{$cur}

.invisible
  visibility: hidden
  height: 0

.no-events
  pointer-events: none

@for $ani from 1 through 15
  $lent: "" + $ani

  @if $ani < 10
    $lent: "0" + $ani

  .anim_delay
    &-#{$lent}
      animation-delay: #{$ani / 10}s

@for $weight from 1 through 9
  .fw-#{$weight * 100}
    font-weight: $weight * 100

[data-anime]
  opacity: 0

[data-anime='fadeInScale']
  transform: scale(0.5)

[data-anime='fadeInLeft']
  transform: matrix(1, 0, 0, 1, -100, 0)

[data-anime='fadeInRight']
  transform: matrix(1, 0, 0, 1, +100, 0)

[data-anime='fadeInUp']
  transform: matrix(1, 0, 0, 1, 0, +30)

[data-anime='fadeInDown']
  transform: matrix(1, 0, 0, 1, 0, -30)

[data-anime='fadeInUpScale']
  transform: matrix(0, 0, 0, 0, 0, +30)

.section
  width: 100%

.page
  overflow-x: hidden
  position: relative
  z-index: 1

  .bg
    position: absolute
    overflow: hidden
    height: 100%
    width: 100%
    z-index: 2
    left: 0
    top: 0

.container
  position: relative
  max-width: 58.5em
  padding: 0 .75em
  margin: 0 auto
  z-index: 100
  width: 100%

.w-100
  width: 100%

.white
  color: $color-white

.grid_half
  grid-template-columns: repeat(2, 1fr)
  display: grid

.grid_triple
  grid-template-columns: repeat(3, 1fr)
  display: grid

.flex_between
  justify-content: space-between
  align-items: center
  display: flex

.logo
  text-decoration: none
  text-align: left

  h3
    color: $color-BlueWhale
    letter-spacing: -0.03em
    font-weight: normal

  h6
    color: $color-EgyptianBlue
    letter-spacing: 0.18em
    font-weight: normal
    line-height: 1

.input-with-btn
  position: relative
  width: 100%

  &__input
    background-color: $color-white
    color: $color-WaikawaGrey
    border-radius: 2.2em
    font-size: .8em
    line-height: 1
    padding: 1.6em
    border: none
    height: 100%
    width: 80%

  &__button
    transition: $transition
    color: $color-BlueWhale
    position: absolute
    border: none
    height: 100%
    right: 0

.links
  justify-content: space-between
  align-items: center
  display: flex
  $links: &

  &_column_left
    flex-direction: column
    align-items: start

    #{$links}__text
      margin-bottom: .9em

  &_right
    justify-content: flex-end

  a
    color: $color-WaikawaGrey
    text-decoration: none

    span
      transition: $transition

    &:hover
      span
        opacity: .7

  img
    margin-right: .35em

  &__text
    align-items: center
    font-size: .7em
    display: flex

    a
      text-decoration: none

  &__call
    color: $color-EgyptianBlue
    display: inline-block
    position: relative
    font-weight: 800
    font-size: .9em

    &:after
      background-color: $color-Supernova
      transition: $transition
      position: absolute
      display: block
      content: ''
      opacity: .3
      height: 44%
      width: 100%
      z-index: 1
      bottom: 0
      left: 0

    span
      position: relative
      z-index: 2

    &:hover
      &:after
        opacity: 1
        height: 0

.social
  justify-content: flex-end
  align-items: center
  display: flex

  &_left
    justify-content: flex-start

  &__link
    align-items: center
    margin: 0 .55em
    display: flex

    &:nth-child(1)
      margin-left: 0

    &:hover
      opacity: .7

.link_stnd
  transition: $transition
  text-decoration: none
  color: $color-Perano

  &:hover
    opacity: .7

.garanties
  background: $color-AliceBlue
  text-align: center
  position: relative
  padding: 4em 5em

  .bg
    z-index: 1

    svg
      position: absolute

      path
        fill: $color-AliceBlue + 5%

      &:nth-child(1)
        bottom: 0
        left: 0

      &:nth-child(2)
        right: 0
        top: 0

  > div
    position: relative
    z-index: 2

  .grid_half
    grid-column-gap: 5em
    grid-row-gap: 3.75em

  &__subtitle
    color: $color-EgyptianBlue
    margin-bottom: .9em
    font-size: .8em

  &__item
    text-align: left
    display: flex

    img
      margin-right: 1.5em
      width: 3.3em

    h4
      color: $color-BlueWhale
      margin-bottom: .5em
      line-height: 130%

    &__text
      color: $color-GulfBlue
      line-height: 172%
      font-size: .8em

.text-center
  text-align: center

.plates
  grid-column-gap: 1.5em
  $plates: &

  &__item
    background-position: center
    color: $color-BlueWhale
    background-size: cover
    display: inline-block
    position: relative
    overflow: hidden
    width: 100%
    padding: 0
    margin: 0

    &:after
      top: 0
      left: 0
      width: 100%
      content: ''
      display: block

    &.prop
      &_2:after
        padding-top: 75.44%

      &_3:after
        padding-top: 121.62%

    &:hover
      cursor: pointer

      #{$plates}__text
        &__inner
          margin-bottom: 0

    img
      width: 100%

  &__text
    background: rgba(255, 255, 255, 0.8)
    backdrop-filter: blur(6px)
    border-radius: 5px
    position: absolute
    overflow: hidden
    padding: 1em
    bottom: 1em
    right: 1em
    left: 1em

    &__head
      line-height: 130%
      font-size: .95em

    .links__call
      pointer-events: none
      font-size: .85em

    &__inner
      transition: $transition
      margin-bottom: -2.45em

  &_carousel
    margin: 0 -.75em

    .slick-list
      overflow: visible

      .slick-track
        .slick-slide
          transition: $transition
          margin: 0 .75em

          &:not(.slick-active)
            pointer-events: none
            opacity: .3

.round_btns
  $rb: &

  &-nav
    display: flex

    &.right
      flex-direction: column
      align-items: end

      #{$rb}-nav
        &__prev,
        &__next
          border-color: $color-white
          margin: .4em 0

          svg
            path
              stroke: $color-white

          &:hover
            border-color: $color-GulfBlue

            svg
              path
                stroke: $color-GulfBlue

    &__prev
      transform: scaleX(-1)

    &__prev,
    &__next
      border: 1px solid $color-LinkWater
      margin: .8em 0 .8em 1.5em
      justify-content: center
      transition: $transition
      border-radius: 100%
      align-items: center
      display: flex
      height: 3.1em
      width: 3.1em

      svg
        width: .95em

        path
          stroke: $color-LinkWater
          transition: $transition

      &:hover
        border-color: $color-Supernova
        cursor: pointer

        svg
          path
            stroke: $color-GulfBlue

.button_big
  background: $gradient-yellow
  padding: 1.3em 2.88em 1.24em
  transition: $transition
  color: $color-BlueWhale
  text-decoration: none
  display: inline-block
  border-radius: 2em
  font-size: .85em

  &:hover
    background: $gradient-yellow_hover
    cursor: pointer

  &:active
    background: $gradient-yellow_active

.blured_block
  background: rgba(255, 255, 255, 0.7)
  backdrop-filter: blur(8px)
  border-radius: 5px
  padding: .6em 0

  &__item
    justify-content: center
    align-items: center
    display: flex

    img
      margin-right: .6em

    figcaption
      font-size: .7em

header
  box-shadow: 0px 4px 22px rgba(17, 8, 63, 0.1)
  transition: $transition
  position: sticky
  z-index: 1000
  top: 0

  .section
    background: $color-white

    .container
      //padding-bottom: 1em
      padding-top: 1em

      .menu
        display: flex

        &__logo
          margin-right: 2.5em
          text-align: center

        &__side
          grid-template-columns: 3.35fr 1fr
          grid-row-gap: .4em
          flex: 1 1 auto
          display: grid

          nav
            .nav
              justify-content: space-between
              align-items: center
              font-weight: 800
              list-style: none
              font-size: .8em
              height: 100%
              display: flex
              padding: 0
              margin: 0

              &__elem
                border-bottom: 2px solid transparent
                transition: $transition
                position: relative
                padding: 1.25em 0

                &_count
                  color: $color-Supernova
                  display: inline-block
                  font-size: .69em
                  margin-left: .3em
                  position: relative
                  top: -.35em

                &:hover
                  border-color: $color-EgyptianBlue
                  cursor: pointer

                &_dropdown
                  position: relative

                  $margin: 7px
                  $size: 6px

                  &:after
                    border-bottom: 1.5px solid $color-GulfBlue
                    border-left: 1.5px solid $color-GulfBlue
                    margin: #{$margin} 0 0 #{$size}
                    transform: rotate(-45deg)
                    transition: $transition
                    position: relative
                    height: #{$size}
                    width: #{$size}
                    display: block
                    float: right
                    content: ''
                    top: 50%

                  &:hover
                    &:after
                      transform: scale(-1, -1) rotate(-45deg)
                      margin-top: calc( #{$margin} + #{$size / 2} )

                    .nav__elem_dropdown
                      &__submenu
                        transform: translateY(0%)
                        visibility: visible
                        opacity: 1

                  &__submenu
                    margin-top: calc(1.25em + 2px)
                    transform: translateY(20%)
                    transition: all .4s
                    margin-left: -1em
                    position: absolute
                    visibility: hidden
                    width: 290px
                    opacity: 0

                    ul
                      box-shadow: 0px 4px 30px rgba(7, 26, 68, 0.16)
                      background-color: $color-white
                      display: inline-block
                      border-radius: 6px
                      position: relative
                      list-style: none
                      margin-top: 10px
                      padding: 0 1em

                      &:before
                        transform: translateY(-50%) rotate(45deg)
                        background-color: $color-white
                        position: absolute
                        display: block
                        content: ''
                        height: 10px
                        width: 10px

                      li
                        border-bottom: 1px solid $color-Solitude
                        transition: $transition
                        align-items: center
                        padding-right: 4em
                        height: 3.76em
                        display: flex

                        &:hover
                          color: $color-EgyptianBlue
                          cursor: pointer

                        &:first-child
                          margin-top: .3em

                        &:last-child
                          margin-bottom: .3em
                          border: none

main
  .page
    &:nth-child(1)
      background: repeat center
      background-size: cover

      .container
        padding: 2.5em 0

      .grid_half
        > div
          &:nth-child(1)
            h1
              font-size: 2.1em

          &:nth-child(2)
            justify-content: flex-end
            align-items: center
            display: flex


    &:nth-child(3)
      background: $color-AliceBlue

      .bg
        svg
          position: absolute

          &:nth-child(1)
            bottom: 0
            left: 0

          &:nth-child(2)
            right: 0
            top: 0

      .container
        div
          &:nth-child(1)
            padding-right: 4.6em

footer
  .page
    background: $gradient-blue
    color: $color-white

    .footer
      &_logo
        h3, h6
          color: $color-white

        h6
          line-height: 1.2

      &_links
        &:nth-child(1)
          padding-right: 2em

        &:nth-child(2)
          padding-right: 3.4em

        ul
          list-style: none
          float: right
          padding: 0

          li
            margin-bottom: 1.1em
            line-height: 1

            &:last-child
              margin-bottom: 0

            a
              font-size: .9em

    .social
      svg
        path, circle
          stroke: $color-Perano

.copyright
  font-size: .7em

  span
    margin-right: 1.4em

.dancecolor
  transition: $transition
  text-decoration: none
  align-items: center
  display: flex
  float: right

  &:hover
    cursor: pointer
    opacity: .7

  &__ico
    margin-right: .5em

  &__text
    letter-spacing: 0.02em
    font-family: "Inter"
    font-weight: normal
    color: $color-Perano
    line-height: 11px
    font-size: 10px

  &__name
    letter-spacing: 0.12em
    font-family: "Inter"
    font-weight: 500
    color: $color-white
    line-height: 19px
    font-size: 17px

// @media (min-width: 1200px)
//   .container
//     max-width: 1200px

//@media (max-width: 768px)
//  body
//    font-size: 15px