@font-face
 font-family: 'OpenSans'
 src: url("../fonts/OpenSans-Light.ttf")
 font-weight: 300
 font-style: normal

@font-face
 font-family: 'OpenSans'
 src: url("../fonts/OpenSans-Regular.ttf")
 font-weight: normal
 font-style: normal

@font-face
 font-family: 'OpenSans'
 src: url("../fonts/OpenSans-Bold.ttf")
 font-weight: bold
 font-style: normal

@font-face
 font-family: 'OpenSans'
 src: url("../fonts/OpenSans-ExtraBold.ttf")
 font-weight: 700
 font-style: normal

@font-face
 font-family: 'OpenSans'
 src: url("../fonts/OpenSans-Semibold.ttf")
 font-weight: 800
 font-style: normal

@font-face
 font-family: 'Inter'
 src: url("../fonts/Inter-Medium.ttf")
 font-weight: 500
 font-style: normal

@font-face
 font-family: 'Inter'
 src: url("../fonts/Inter-Regular.ttf")
 font-weight: normal
 font-style: normal