$color-EgyptianBlue: #163993
$color-WaikawaGrey: #656F86
$color-LinkWater: #CCD1DD
$color-BlueWhale: #1F3744
$color-Supernova: #FFB932
$color-AliceBlue: #EFF6FB
$color-Solitude: #E5E8F0
$color-GulfBlue: #3C445E
$color-Perano: #9FB4FF

$color-white: #FFFFFF
$color-zero: #000000

$gradient-blue: linear-gradient(106.99deg, #163993 0%, #0C4F9D 100%)
$gradient-yellow: linear-gradient(180deg, #FFCF41 0%, #F6BE1A 100%)
$gradient-yellow_hover: linear-gradient(180deg, #FFCF41 + 20% 0%, #F6BE1A + 20% 100%)
$gradient-yellow_active: linear-gradient(180deg, #FFCF41 - 20% 0%, #F6BE1A - 20% 100%)

$transition: all .25s ease

$menu: '.menu'

%noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none