@font-face {
  font-family: 'OpenSans';
  src: url(fonts/OpenSans-Light.ttf);
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(fonts/OpenSans-ExtraBold.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(fonts/OpenSans-Semibold.ttf);
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Inter';
  src: url(fonts/Inter-Medium.ttf);
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Inter';
  src: url(fonts/Inter-Regular.ttf);
  font-weight: normal;
  font-style: normal; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

html {
  font-size: 20px; }

body {
  font-family: "OpenSans";
  color: #3C445E;
  font-weight: normal;
  font-size: 20px;
  min-width: 60em;
  margin: 0; }
  body header,
  body main,
  body footer {
    width: 100%; }

a {
  outline: none; }

small {
  line-height: 182%;
  font-size: .9em; }

h1 {
  font-weight: 600;
  font-size: 2.05em;
  margin: 0; }

h2 {
  font-weight: 600;
  font-size: 1.7em;
  margin: 0; }

h3 {
  font-weight: 600;
  font-size: 1.35em;
  margin: 0; }

h4 {
  font-weight: 600;
  font-size: 1em;
  margin: 0; }

h5 {
  font-weight: 600;
  font-size: 0.8em;
  margin: 0; }

h6 {
  font-weight: 600;
  font-size: 0.7em;
  margin: 0; }

.clear_5 {
  height: calc(0.25 * 1em); }

.clear_10 {
  height: calc(0.5 * 1em); }

.clear_15 {
  height: calc(0.75 * 1em); }

.clear_20 {
  height: calc(1 * 1em); }

.clear_25 {
  height: calc(1.25 * 1em); }

.clear_30 {
  height: calc(1.5 * 1em); }

.clear_35 {
  height: calc(1.75 * 1em); }

.clear_40 {
  height: calc(2 * 1em); }

.clear_45 {
  height: calc(2.25 * 1em); }

.clear_50 {
  height: calc(2.5 * 1em); }

.clear_55 {
  height: calc(2.75 * 1em); }

.clear_60 {
  height: calc(3 * 1em); }

.clear_65 {
  height: calc(3.25 * 1em); }

.clear_70 {
  height: calc(3.5 * 1em); }

.clear_75 {
  height: calc(3.75 * 1em); }

.clear_80 {
  height: calc(4 * 1em); }

.clear_85 {
  height: calc(4.25 * 1em); }

.clear_90 {
  height: calc(4.5 * 1em); }

.clear_95 {
  height: calc(4.75 * 1em); }

.clear_100 {
  height: calc(5 * 1em); }

.clear_105 {
  height: calc(5.25 * 1em); }

.clear_110 {
  height: calc(5.5 * 1em); }

.clear_115 {
  height: calc(5.75 * 1em); }

.clear_120 {
  height: calc(6 * 1em); }

.clear_125 {
  height: calc(6.25 * 1em); }

.clear_130 {
  height: calc(6.5 * 1em); }

.clear_135 {
  height: calc(6.75 * 1em); }

.clear_140 {
  height: calc(7 * 1em); }

.lh_10 {
  line-height: 0.5; }

.lh_12 {
  line-height: 0.6; }

.lh_14 {
  line-height: 0.7; }

.lh_16 {
  line-height: 0.8; }

.lh_18 {
  line-height: 0.9; }

.lh_20 {
  line-height: 1; }

.lh_22 {
  line-height: 1.1; }

.lh_24 {
  line-height: 1.2; }

.lh_26 {
  line-height: 1.3; }

.lh_28 {
  line-height: 1.4; }

.lh_30 {
  line-height: 1.5; }

.invisible {
  visibility: hidden;
  height: 0; }

.no-events {
  pointer-events: none; }

.anim_delay-01 {
  animation-delay: 0.1s; }

.anim_delay-02 {
  animation-delay: 0.2s; }

.anim_delay-03 {
  animation-delay: 0.3s; }

.anim_delay-04 {
  animation-delay: 0.4s; }

.anim_delay-05 {
  animation-delay: 0.5s; }

.anim_delay-06 {
  animation-delay: 0.6s; }

.anim_delay-07 {
  animation-delay: 0.7s; }

.anim_delay-08 {
  animation-delay: 0.8s; }

.anim_delay-09 {
  animation-delay: 0.9s; }

.anim_delay-10 {
  animation-delay: 1s; }

.anim_delay-11 {
  animation-delay: 1.1s; }

.anim_delay-12 {
  animation-delay: 1.2s; }

.anim_delay-13 {
  animation-delay: 1.3s; }

.anim_delay-14 {
  animation-delay: 1.4s; }

.anim_delay-15 {
  animation-delay: 1.5s; }

.fw-100 {
  font-weight: 100; }

.fw-200 {
  font-weight: 200; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fw-900 {
  font-weight: 900; }

[data-anime] {
  opacity: 0; }

[data-anime='fadeInScale'] {
  transform: scale(0.5); }

[data-anime='fadeInLeft'] {
  transform: matrix(1, 0, 0, 1, -100, 0); }

[data-anime='fadeInRight'] {
  transform: matrix(1, 0, 0, 1, 100, 0); }

[data-anime='fadeInUp'] {
  transform: matrix(1, 0, 0, 1, 0, 30); }

[data-anime='fadeInDown'] {
  transform: matrix(1, 0, 0, 1, 0, -30); }

[data-anime='fadeInUpScale'] {
  transform: matrix(0, 0, 0, 0, 0, 30); }

.section {
  width: 100%; }

.page {
  overflow-x: hidden;
  position: relative;
  z-index: 1; }
  .page .bg {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0; }

.container {
  position: relative;
  max-width: 58.5em;
  padding: 0 .75em;
  margin: 0 auto;
  z-index: 100;
  width: 100%; }

.w-100 {
  width: 100%; }

.white {
  color: #FFFFFF; }

.grid_half {
  grid-template-columns: repeat(2, 1fr);
  display: grid; }

.grid_triple {
  grid-template-columns: repeat(3, 1fr);
  display: grid; }

.flex_between {
  justify-content: space-between;
  align-items: center;
  display: flex; }

.logo {
  text-decoration: none;
  text-align: left; }
  .logo h3 {
    color: #1F3744;
    letter-spacing: -0.03em;
    font-weight: normal; }
  .logo h6 {
    color: #163993;
    letter-spacing: 0.18em;
    font-weight: normal;
    line-height: 1; }

.input-with-btn {
  position: relative;
  width: 100%; }
  .input-with-btn__input {
    background-color: #FFFFFF;
    color: #656F86;
    border-radius: 2.2em;
    font-size: .8em;
    line-height: 1;
    padding: 1.6em;
    border: none;
    height: 100%;
    width: 80%; }
  .input-with-btn__button {
    transition: all 0.25s ease;
    color: #1F3744;
    position: absolute;
    border: none;
    height: 100%;
    right: 0; }

.links {
  justify-content: space-between;
  align-items: center;
  display: flex; }
  .links_column_left {
    flex-direction: column;
    align-items: start; }
    .links_column_left .links__text {
      margin-bottom: .9em; }
  .links_right {
    justify-content: flex-end; }
  .links a {
    color: #656F86;
    text-decoration: none; }
    .links a span {
      transition: all 0.25s ease; }
    .links a:hover span {
      opacity: .7; }
  .links img {
    margin-right: .35em; }
  .links__text {
    align-items: center;
    font-size: .7em;
    display: flex; }
    .links__text a {
      text-decoration: none; }
  .links__call {
    color: #163993;
    display: inline-block;
    position: relative;
    font-weight: 800;
    font-size: .9em; }
    .links__call:after {
      background-color: #FFB932;
      transition: all 0.25s ease;
      position: absolute;
      display: block;
      content: '';
      opacity: .3;
      height: 44%;
      width: 100%;
      z-index: 1;
      bottom: 0;
      left: 0; }
    .links__call span {
      position: relative;
      z-index: 2; }
    .links__call:hover:after {
      opacity: 1;
      height: 0; }

.social {
  justify-content: flex-end;
  align-items: center;
  display: flex; }
  .social_left {
    justify-content: flex-start; }
  .social__link {
    align-items: center;
    margin: 0 .55em;
    display: flex; }
    .social__link:nth-child(1) {
      margin-left: 0; }
    .social__link:hover {
      opacity: .7; }

.link_stnd {
  transition: all 0.25s ease;
  text-decoration: none;
  color: #9FB4FF; }
  .link_stnd:hover {
    opacity: .7; }

.garanties {
  background: #EFF6FB;
  text-align: center;
  position: relative;
  padding: 4em 5em; }
  .garanties .bg {
    z-index: 1; }
    .garanties .bg svg {
      position: absolute; }
      .garanties .bg svg path {
        fill: #f4fbff; }
      .garanties .bg svg:nth-child(1) {
        bottom: 0;
        left: 0; }
      .garanties .bg svg:nth-child(2) {
        right: 0;
        top: 0; }
  .garanties > div {
    position: relative;
    z-index: 2; }
  .garanties .grid_half {
    grid-column-gap: 5em;
    grid-row-gap: 3.75em; }
  .garanties__subtitle {
    color: #163993;
    margin-bottom: .9em;
    font-size: .8em; }
  .garanties__item {
    text-align: left;
    display: flex; }
    .garanties__item img {
      margin-right: 1.5em;
      width: 3.3em; }
    .garanties__item h4 {
      color: #1F3744;
      margin-bottom: .5em;
      line-height: 130%; }
    .garanties__item__text {
      color: #3C445E;
      line-height: 172%;
      font-size: .8em; }

.text-center {
  text-align: center; }

.plates {
  grid-column-gap: 1.5em; }
  .plates__item {
    background-position: center;
    color: #1F3744;
    background-size: cover;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0; }
    .plates__item:after {
      top: 0;
      left: 0;
      width: 100%;
      content: '';
      display: block; }
    .plates__item.prop_2:after {
      padding-top: 75.44%; }
    .plates__item.prop_3:after {
      padding-top: 121.62%; }
    .plates__item:hover {
      cursor: pointer; }
      .plates__item:hover .plates__text__inner {
        margin-bottom: 0; }
    .plates__item img {
      width: 100%; }
  .plates__text {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
    padding: 1em;
    bottom: 1em;
    right: 1em;
    left: 1em; }
    .plates__text__head {
      line-height: 130%;
      font-size: .95em; }
    .plates__text .links__call {
      pointer-events: none;
      font-size: .85em; }
    .plates__text__inner {
      transition: all 0.25s ease;
      margin-bottom: -2.45em; }
  .plates_carousel {
    margin: 0 -.75em; }
    .plates_carousel .slick-list {
      overflow: visible; }
      .plates_carousel .slick-list .slick-track .slick-slide {
        transition: all 0.25s ease;
        margin: 0 .75em; }
        .plates_carousel .slick-list .slick-track .slick-slide:not(.slick-active) {
          pointer-events: none;
          opacity: .3; }

.round_btns-nav {
  display: flex; }
  .round_btns-nav.right {
    flex-direction: column;
    align-items: end; }
    .round_btns-nav.right .round_btns-nav__prev, .round_btns-nav.right .round_btns-nav__next {
      border-color: #FFFFFF;
      margin: .4em 0; }
      .round_btns-nav.right .round_btns-nav__prev svg path, .round_btns-nav.right .round_btns-nav__next svg path {
        stroke: #FFFFFF; }
      .round_btns-nav.right .round_btns-nav__prev:hover, .round_btns-nav.right .round_btns-nav__next:hover {
        border-color: #3C445E; }
        .round_btns-nav.right .round_btns-nav__prev:hover svg path, .round_btns-nav.right .round_btns-nav__next:hover svg path {
          stroke: #3C445E; }
  .round_btns-nav__prev {
    transform: scaleX(-1); }
  .round_btns-nav__prev, .round_btns-nav__next {
    border: 1px solid #CCD1DD;
    margin: .8em 0 .8em 1.5em;
    justify-content: center;
    transition: all 0.25s ease;
    border-radius: 100%;
    align-items: center;
    display: flex;
    height: 3.1em;
    width: 3.1em; }
    .round_btns-nav__prev svg, .round_btns-nav__next svg {
      width: .95em; }
      .round_btns-nav__prev svg path, .round_btns-nav__next svg path {
        stroke: #CCD1DD;
        transition: all 0.25s ease; }
    .round_btns-nav__prev:hover, .round_btns-nav__next:hover {
      border-color: #FFB932;
      cursor: pointer; }
      .round_btns-nav__prev:hover svg path, .round_btns-nav__next:hover svg path {
        stroke: #3C445E; }

.button_big {
  background: linear-gradient(180deg, #FFCF41 0%, #F6BE1A 100%);
  padding: 1.3em 2.88em 1.24em;
  transition: all 0.25s ease;
  color: #1F3744;
  text-decoration: none;
  display: inline-block;
  border-radius: 2em;
  font-size: .85em; }
  .button_big:hover {
    background: linear-gradient(180deg, #ffe355 0%, #ffd22e 100%);
    cursor: pointer; }
  .button_big:active {
    background: linear-gradient(180deg, #ebbb2d 0%, #e2aa06 100%); }

.blured_block {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 5px;
  padding: .6em 0; }
  .blured_block__item {
    justify-content: center;
    align-items: center;
    display: flex; }
    .blured_block__item img {
      margin-right: .6em; }
    .blured_block__item figcaption {
      font-size: .7em; }

header {
  box-shadow: 0px 4px 22px rgba(17, 8, 63, 0.1);
  transition: all 0.25s ease;
  position: sticky;
  z-index: 1000;
  top: 0; }
  header .section {
    background: #FFFFFF; }
    header .section .container {
      padding-top: 1em; }
      header .section .container .menu {
        display: flex; }
        header .section .container .menu__logo {
          margin-right: 2.5em;
          text-align: center; }
        header .section .container .menu__side {
          grid-template-columns: 3.35fr 1fr;
          grid-row-gap: .4em;
          flex: 1 1 auto;
          display: grid; }
          header .section .container .menu__side nav .nav {
            justify-content: space-between;
            align-items: center;
            font-weight: 800;
            list-style: none;
            font-size: .8em;
            height: 100%;
            display: flex;
            padding: 0;
            margin: 0; }
            header .section .container .menu__side nav .nav__elem {
              border-bottom: 2px solid transparent;
              transition: all 0.25s ease;
              position: relative;
              padding: 1.25em 0; }
              header .section .container .menu__side nav .nav__elem_count {
                color: #FFB932;
                display: inline-block;
                font-size: .69em;
                margin-left: .3em;
                position: relative;
                top: -.35em; }
              header .section .container .menu__side nav .nav__elem:hover {
                border-color: #163993;
                cursor: pointer; }
              header .section .container .menu__side nav .nav__elem_dropdown {
                position: relative; }
                header .section .container .menu__side nav .nav__elem_dropdown:after {
                  border-bottom: 1.5px solid #3C445E;
                  border-left: 1.5px solid #3C445E;
                  margin: 7px 0 0 6px;
                  transform: rotate(-45deg);
                  transition: all 0.25s ease;
                  position: relative;
                  height: 6px;
                  width: 6px;
                  display: block;
                  float: right;
                  content: '';
                  top: 50%; }
                header .section .container .menu__side nav .nav__elem_dropdown:hover:after {
                  transform: scale(-1, -1) rotate(-45deg);
                  margin-top: calc( 7px + 3px); }
                header .section .container .menu__side nav .nav__elem_dropdown:hover .nav__elem_dropdown__submenu {
                  transform: translateY(0%);
                  visibility: visible;
                  opacity: 1; }
                header .section .container .menu__side nav .nav__elem_dropdown__submenu {
                  margin-top: calc(1.25em + 2px);
                  transform: translateY(20%);
                  transition: all .4s;
                  margin-left: -1em;
                  position: absolute;
                  visibility: hidden;
                  width: 290px;
                  opacity: 0; }
                  header .section .container .menu__side nav .nav__elem_dropdown__submenu ul {
                    box-shadow: 0px 4px 30px rgba(7, 26, 68, 0.16);
                    background-color: #FFFFFF;
                    display: inline-block;
                    border-radius: 6px;
                    position: relative;
                    list-style: none;
                    margin-top: 10px;
                    padding: 0 1em; }
                    header .section .container .menu__side nav .nav__elem_dropdown__submenu ul:before {
                      transform: translateY(-50%) rotate(45deg);
                      background-color: #FFFFFF;
                      position: absolute;
                      display: block;
                      content: '';
                      height: 10px;
                      width: 10px; }
                    header .section .container .menu__side nav .nav__elem_dropdown__submenu ul li {
                      border-bottom: 1px solid #E5E8F0;
                      transition: all 0.25s ease;
                      align-items: center;
                      padding-right: 4em;
                      height: 3.76em;
                      display: flex; }
                      header .section .container .menu__side nav .nav__elem_dropdown__submenu ul li:hover {
                        color: #163993;
                        cursor: pointer; }
                      header .section .container .menu__side nav .nav__elem_dropdown__submenu ul li:first-child {
                        margin-top: .3em; }
                      header .section .container .menu__side nav .nav__elem_dropdown__submenu ul li:last-child {
                        margin-bottom: .3em;
                        border: none; }

main .page:nth-child(1) {
  background: repeat center;
  background-size: cover; }
  main .page:nth-child(1) .container {
    padding: 2.5em 0; }
  main .page:nth-child(1) .grid_half > div:nth-child(1) h1 {
    font-size: 2.1em; }
  main .page:nth-child(1) .grid_half > div:nth-child(2) {
    justify-content: flex-end;
    align-items: center;
    display: flex; }

main .page:nth-child(3) {
  background: #EFF6FB; }
  main .page:nth-child(3) .bg svg {
    position: absolute; }
    main .page:nth-child(3) .bg svg:nth-child(1) {
      bottom: 0;
      left: 0; }
    main .page:nth-child(3) .bg svg:nth-child(2) {
      right: 0;
      top: 0; }
  main .page:nth-child(3) .container div:nth-child(1) {
    padding-right: 4.6em; }

footer .page {
  background: linear-gradient(106.99deg, #163993 0%, #0C4F9D 100%);
  color: #FFFFFF; }
  footer .page .footer_logo h3, footer .page .footer_logo h6 {
    color: #FFFFFF; }
  footer .page .footer_logo h6 {
    line-height: 1.2; }
  footer .page .footer_links:nth-child(1) {
    padding-right: 2em; }
  footer .page .footer_links:nth-child(2) {
    padding-right: 3.4em; }
  footer .page .footer_links ul {
    list-style: none;
    float: right;
    padding: 0; }
    footer .page .footer_links ul li {
      margin-bottom: 1.1em;
      line-height: 1; }
      footer .page .footer_links ul li:last-child {
        margin-bottom: 0; }
      footer .page .footer_links ul li a {
        font-size: .9em; }
  footer .page .social svg path, footer .page .social svg circle {
    stroke: #9FB4FF; }

.copyright {
  font-size: .7em; }
  .copyright span {
    margin-right: 1.4em; }

.dancecolor {
  transition: all 0.25s ease;
  text-decoration: none;
  align-items: center;
  display: flex;
  float: right; }
  .dancecolor:hover {
    cursor: pointer;
    opacity: .7; }
  .dancecolor__ico {
    margin-right: .5em; }
  .dancecolor__text {
    letter-spacing: 0.02em;
    font-family: "Inter";
    font-weight: normal;
    color: #9FB4FF;
    line-height: 11px;
    font-size: 10px; }
  .dancecolor__name {
    letter-spacing: 0.12em;
    font-family: "Inter";
    font-weight: 500;
    color: #FFFFFF;
    line-height: 19px;
    font-size: 17px; }
