doctype html

html(lang='ru', prefix="og: http://ogp.me/ns#")
    head
        title Мастерская цвета | Салон-студия красок

        // Necessary pages settings
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1")

        // Additional meta
        meta(name="description" content="Фирменный магазин, где вы найдете ответы на все вопросы о краске, сможете подобрать цвет и воспользоваться услугами по компьютерной колеровке краски, помощи в выборе материалов с выездом на дом или нанесению декоративных покрытий")
        meta(name="keywords" content="Рекламные агентства полного цикла, полиграфические услуги, широкоформатная печать, изготовление рекламных конструкций, послепечатная обработка, световая реклама, оперативная полиграфия, предпечатная подготовка, офсетная печать, термотрансфер, дизайн рекламы, нанесение изображений на сувениры, услуги гравировки, производство пластиковых карт, изготовление фотокниг, уф-печать, объёмные надписи и фигуры, услуги фрезеровки, прямая цифровая печать, шелкография")

        // Favicon
        link(rel="icon", type="img/png", href="img/favicons/16.png", sizes="16x16")
        link(rel="icon", type="img/png", href="img/favicons/32.png", sizes="32x32")
        link(rel="icon", type="img/png", href="img/favicons/65.png", sizes="64x64")
        link(rel="apple-touch-icon", href="img/favicons/96.png", sizes="96x96")

    body
        header
            .section
                .container
                    .menu
                        a(href="/" title="Главная").logo.menu__logo
                            h3 Мастерская Цвета
                            h6 салон-студия красок

                        .menu__side
                            .links
                                a(href="#").links__text
                                    img(src="../../img/menu/links__text_1.png")
                                    span Мы открыты

                                a(href="#").links__text
                                    img(src="../../img/menu/links__text_2.png")
                                    span Смоленск, пр-т Гагарина 7

                                .links__text
                                    img(src="../../img/menu/links__text_3.png")
                                    a(href="tel:+74812633737")
                                        span (4812) 63-37-37
                                    span &nbsp; | &nbsp;
                                    a(href="tel:+79036493737")
                                        span (903) 649-37-37

                            .links.links_right
                                a.links__call(href="#")
                                    span Заказать звонок

                            nav
                                ul.nav
                                    li.nav__elem.nav__elem_dropdown Каталог
                                        .nav__elem_dropdown__submenu
                                            ul
                                                li Краски
                                                li Эмали
                                                li Грунтовки и пропитки
                                                li Лаки
                                                li Декоративные краски и шукатурки
                                                li Декоративный камень и лепнина
                                                li Фотообои и фрески
                                                li Малярный инструмент

                                    li.nav__elem
                                        a Подбор материала
                                    li.nav__elem
                                        a Услуги
                                    li.nav__elem
                                        a Акции
                                            span.nav__elem_count 3
                                    li.nav__elem
                                        a Портфолио
                                    li.nav__elem
                                        a Контакты

                            .social
                                a(href="https://vk.com/" target="_blank").social__link
                                    <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4952 1.81256C22.6481 1.34417 22.4952 1 21.7673 1H19.3605C18.7485 1 18.4664 1.29732 18.3134 1.62517C18.3134 1.62517 17.0895 4.3652 15.3556 6.14503C14.7946 6.66024 14.5396 6.82416 14.2336 6.82416C14.0807 6.82416 13.8512 6.66024 13.8512 6.19189V1.81256C13.8512 1.2505 13.6816 1 13.1716 1H9.38945C9.00703 1 8.77703 1.26087 8.77703 1.5081C8.77703 2.04093 9.64393 2.1638 9.73328 3.66264V6.91788C9.73328 7.63158 9.59295 7.76097 9.28696 7.76097C8.47104 7.76097 6.48631 5.0087 5.30919 1.85938C5.0785 1.24726 4.84712 1 4.23201 1H1.8252C1.13754 1 1 1.29732 1 1.62517C1 2.21066 1.81596 5.11462 4.79925 8.95531C6.7881 11.5782 9.59025 13 12.1401 13C13.67 13 13.8592 12.6842 13.8592 12.1403V10.1579C13.8592 9.52632 14.0042 9.40027 14.4886 9.40027C14.8456 9.40027 15.4576 9.5642 16.8855 10.8288C18.5174 12.3276 18.7864 13 19.7043 13H22.1112C22.7988 13 23.1426 12.6842 22.9443 12.061C22.7272 11.4399 21.9481 10.5388 20.9143 9.47052C20.3533 8.86164 19.5118 8.20593 19.2568 7.878C18.8999 7.45651 19.0019 7.26912 19.2568 6.89445C19.2568 6.89445 22.1892 3.10058 22.4952 1.81256Z" stroke="#FFB932" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                                    </svg>

                                a(href="https://ru-ru.facebook.com/" target="_blank").social__link
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.0135 21H16C18.7614 21 21 18.7614 21 16V6C21 3.23858 18.7614 1 16 1H6C3.23858 1 1 3.23858 1 6V16C1 18.7614 3.23857 21 6 21H12.0135ZM12.0135 21V9.01351C12.0135 7.90894 12.9089 7.01351 14.0135 7.01351H16.0676M8.98649 11.9459H16.0676" stroke="#FFB932" stroke-width="1.5"/>
                                    </svg>


                                a(href="https://www.instagram.com/" target="_blank").social__link
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 6C1 3.23858 3.23858 1 6 1H16C18.7614 1 21 3.23858 21 6V16C21 18.7614 18.7614 21 16 21H12.0135H6C3.23857 21 1 18.7614 1 16V6Z" stroke="#FFB932" stroke-width="1.5"/>
                                    <circle cx="11" cy="11" r="5" stroke="#FFB932" stroke-width="1.5"/>
                                    <circle cx="17" cy="5" r="1" fill="#FFB932"/>
                                    </svg>

        main
            section.page(style="background-image: url(./img/page/page_11.jpg)")
                .container
                    .clear_140

                    .grid_half
                        div
                            h1 Цвет вашего комфорта

                            p
                                small Выбирайте свой цвет из 20 000 оттенков, а если не найдете нужный, мы смешаем любой цвет и оттенок при вас.

                            .clear_30

                            a.button_big(href="#") Подобрать материал

                        div
                            .round_btns-nav.right
                                .round_btns-nav__next
                                    include ../includes/small_arrow

                                .round_btns-nav__prev
                                    include ../includes/small_arrow

                    .clear_140

                    .blured_block.grid_triple
                        figure.blured_block__item
                            img(src="../../img/svg/paint.svg")
                            figcaption Разбираемся в краске уже 15 лет

                        figure.blured_block__item
                            img(src="../../img/svg/clients.svg")
                            figcaption Более 1000 довольных клиентов

                        figure.blured_block__item
                            img(src="../../img/svg/brush.svg")
                            figcaption Покрасили более 10 000 м2

            section.page
                .container
                    .clear_100

                    h1.text-center Наши услуги

                    .clear_15

                    .text-center
                        small Предпочитаем перед продажей подробно консультировать
                            br
                            |клиентов, дабы избежать ошибок и недочетов

                    .clear_45

                    .plates.grid_triple
                        a.plates__item.prop_3(href="#" style="background-image: url(./img/page/page_21.jpg)")
                            .plates__text
                                .plates__text__inner
                                    .plates__text__head Компьютерная колеровка краски
                                    .clear_20
                                    .links__call
                                        span Подробнее

                        a.plates__item.prop_3(href="#" style="background-image: url(./img/page/page_22.jpg)")
                            .plates__text
                                .plates__text__inner
                                    .plates__text__head Помощь в выборе материалов с выездом на дом
                                    .clear_20
                                    .links__call
                                        span Подробнее

                        a.plates__item.prop_3(href="#" style="background-image: url(./img/page/page_23.jpg)")
                            .plates__text
                                .plates__text__inner
                                    .plates__text__head Нанесение декоративных покрытий
                                    .clear_20
                                    .links__call
                                        span Подробнее

                    .clear_100

            section.page
                .bg
                    include ../includes/cloud_left
                    include ../includes/cloud_right

                .container.grid_half
                    div
                        .clear_80

                        h2 Нужна помощь эксперта ?

                        p
                            small Оставьте свои контактные данные и наш специалист перезвонит в течение 15 минут и проконсультирует вас абсолютно бесплатно.

                        .clear_25

                        form.input-with-btn
                            input(placeholder="Ваш номер телефона").input-with-btn__input
                            button.button_big.input-with-btn__button Позвоните мне

                        .clear_90

                    div
                        img( src=("../../img/page/page_33.png") ).w-100

            .page
                .container
                    .clear_100

                    section
                        .garanties
                            .bg
                                include ../includes/cloud_left
                                include ../includes/cloud_right

                            div
                                .garanties__subtitle Мастерская Цвета

                                h2 Ваши гарантии и преимущества

                                .clear_70

                                .grid_half
                                    .garanties__item
                                        div
                                            img(src="../../img/svg/assort.svg")

                                        div
                                            h4 Огромный ассортимент
                                            .garanties__item__text Выберите свой цвет из 20 000 оттенков, а если не найдете нужный, мы смешаем любой цвет и оттенок при вас

                                    .garanties__item
                                        div
                                            img(src="../../img/svg/present.svg")

                                        div
                                            h4 Выезд к клиенту
                                            .garanties__item__text
                                                a(href="").link_stnd Оставьте заявку
                                                span &nbsp;и мы выедем к вам на дом, чтобы проконсультировать вас на месте и подобрать верные решения

                                    .garanties__item
                                        div
                                            img(src="../../img/svg/remember.svg")

                                        div
                                            h4 Помним о вас
                                            .garanties__item__text Даже спустя несколько лет, вы можете прийти к нам и мы найдем номер вашей краски и снова его повторим!

                                    .garanties__item
                                        div
                                            img(src="../../img/svg/winner.svg")

                                        div
                                            h4 Многолетний опыт
                                            .garanties__item__text Все специалисты нашего салона работают в сфере колористики и дизайна более 10 лет, поэтому нам можно доверять безоговорочно.

                    .clear_100

                    section
                        .flex_between
                            h1 Нашими красками покрашены

                            .round_btns-nav.plates_carousel-nav
                                .round_btns-nav__prev
                                    include ../includes/small_arrow

                                .round_btns-nav__next
                                    include ../includes/small_arrow

                        .clear_40

                        .plates_carousel
                            a.plates__item.prop_2(href="#" style="background-image: url(./img/page/page_41.jpg)")
                                .plates__text
                                    .plates__text__inner
                                        .plates__text__head Смоленский областной театр кукол имени Д.Н. Светильникова
                                        .clear_20
                                        .links__call
                                            span Подробнее

                            a.plates__item.prop_2(href="#" style="background-image: url(./img/page/page_42.jpg)")
                                .plates__text
                                    .plates__text__inner
                                        .plates__text__head Успенский кафедральный собор в Смоленске
                                        .clear_20
                                        .links__call
                                            span Подробнее

                            a.plates__item.prop_2(href="#" style="background-image: url(./img/page/page_43.jpg)")
                                .plates__text
                                    .plates__text__inner
                                        .plates__text__head Успенский кафедральный собор в Смоленске
                                        .clear_20
                                        .links__call
                                            span Подробнее

                    .clear_95

        footer
            .page
                .clear_80

                .container
                    .grid_half
                        div
                            a(href="/" title="Главная").logo.footer_logo
                                h3 Мастерская Цвета
                                h6 салон-студия красок

                            .clear_35

                            .links.links_column_left
                                a(href="#").links__text
                                    img(src="../../img/menu/links__text_1.png")
                                    span.white Мы открыты

                                .links__text
                                    img(src="../../img/menu/links__text_3.png")
                                    a(href="tel:+74812633737")
                                        span.white (4812) 63-37-37
                                    span &nbsp; | &nbsp;
                                    a(href="tel:+79036493737")
                                        span.white (903) 649-37-37

                                a(href="#").links__text
                                    img(src="../../img/menu/links__text_2.png")
                                    span.white Смоленск, пр-т Гагарина 7

                            .clear_10

                            .social.social_left
                                a(href="https://vk.com/" target="_blank").social__link
                                    <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4952 1.81256C22.6481 1.34417 22.4952 1 21.7673 1H19.3605C18.7485 1 18.4664 1.29732 18.3134 1.62517C18.3134 1.62517 17.0895 4.3652 15.3556 6.14503C14.7946 6.66024 14.5396 6.82416 14.2336 6.82416C14.0807 6.82416 13.8512 6.66024 13.8512 6.19189V1.81256C13.8512 1.2505 13.6816 1 13.1716 1H9.38945C9.00703 1 8.77703 1.26087 8.77703 1.5081C8.77703 2.04093 9.64393 2.1638 9.73328 3.66264V6.91788C9.73328 7.63158 9.59295 7.76097 9.28696 7.76097C8.47104 7.76097 6.48631 5.0087 5.30919 1.85938C5.0785 1.24726 4.84712 1 4.23201 1H1.8252C1.13754 1 1 1.29732 1 1.62517C1 2.21066 1.81596 5.11462 4.79925 8.95531C6.7881 11.5782 9.59025 13 12.1401 13C13.67 13 13.8592 12.6842 13.8592 12.1403V10.1579C13.8592 9.52632 14.0042 9.40027 14.4886 9.40027C14.8456 9.40027 15.4576 9.5642 16.8855 10.8288C18.5174 12.3276 18.7864 13 19.7043 13H22.1112C22.7988 13 23.1426 12.6842 22.9443 12.061C22.7272 11.4399 21.9481 10.5388 20.9143 9.47052C20.3533 8.86164 19.5118 8.20593 19.2568 7.878C18.8999 7.45651 19.0019 7.26912 19.2568 6.89445C19.2568 6.89445 22.1892 3.10058 22.4952 1.81256Z" stroke="#FFB932" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                                    </svg>

                                a(href="https://ru-ru.facebook.com/" target="_blank").social__link
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.0135 21H16C18.7614 21 21 18.7614 21 16V6C21 3.23858 18.7614 1 16 1H6C3.23858 1 1 3.23858 1 6V16C1 18.7614 3.23857 21 6 21H12.0135ZM12.0135 21V9.01351C12.0135 7.90894 12.9089 7.01351 14.0135 7.01351H16.0676M8.98649 11.9459H16.0676" stroke="#FFB932" stroke-width="1.5"/>
                                    </svg>


                                a(href="https://www.instagram.com/" target="_blank").social__link
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 6C1 3.23858 3.23858 1 6 1H16C18.7614 1 21 3.23858 21 6V16C21 18.7614 18.7614 21 16 21H12.0135H6C3.23857 21 1 18.7614 1 16V6Z" stroke="#FFB932" stroke-width="1.5"/>
                                    <circle cx="11" cy="11" r="5" stroke="#FFB932" stroke-width="1.5"/>
                                    <circle cx="17" cy="5" r="1" fill="#FFB932"/>
                                    </svg>

                        .grid_half
                            .footer_links
                                ul
                                    li
                                        a(href="/catalog").link_stnd Каталог
                                    li
                                        a(href="/material").link_stnd Подбор материала
                                    li
                                        a(href="/stock").link_stnd Акции
                                    li
                                        a(href="/service").link_stnd Услуги

                            .footer_links
                                ul
                                    li
                                        a(href="/portfolio").link_stnd Портфолио
                                    li
                                        a(href="/blog").link_stnd Блог
                                    li
                                        a(href="/about-us").link_stnd О нас
                                    li
                                        a(href="/contacts").link_stnd Контакты

                    .clear_40

                    .grid_half
                        .copyright
                            span © 2019 «Мастерская цвета» Смоленск
                            a(href="/confidense").link_stnd Политика конфиденциальности

                        div
                            a(href="https://dancecolor.ru/" target="_blank").dancecolor
                                <svg class="dancecolor__ico" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <mask id="path-1-inside-1" fill="white">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.692 12.4999C24.5193 11.2312 25 9.71584 25 8.08824C25 3.62123 21.3788 0 16.9118 0C15.2841 0 13.7688 0.480767 12.5 1.30804C11.2312 0.480767 9.71587 0 8.08824 0C3.62123 0 0 3.62123 0 8.08824C0 9.71584 0.480749 11.2312 1.30799 12.4999C0.480749 13.7687 0 15.284 0 16.9116C0 21.3786 3.62123 24.9999 8.08824 24.9999C9.71587 24.9999 11.2312 24.5191 12.5 23.6918C13.7688 24.5191 15.2841 24.9999 16.9118 24.9999C21.3788 24.9999 25 21.3786 25 16.9116C25 15.284 24.5193 13.7687 23.692 12.4999Z"/>
                                    </mask>

                                    <path d="M23.692 12.4999L22.4355 11.6807L21.9013 12.4999L22.4355 13.3192L23.692 12.4999ZM12.5 1.30804L11.6807 2.56455L12.5 3.09872L13.3193 2.56455L12.5 1.30804ZM1.30799 12.4999L2.56451 13.3192L3.09866 12.4999L2.56451 11.6807L1.30799 12.4999ZM12.5 23.6918L13.3193 22.4353L12.5 21.9011L11.6807 22.4353L12.5 23.6918ZM23.5 8.08824C23.5 9.41619 23.1087 10.6482 22.4355 11.6807L24.9485 13.3192C25.9298 11.8141 26.5 10.0155 26.5 8.08824H23.5ZM16.9118 1.5C20.5504 1.5 23.5 4.44965 23.5 8.08824H26.5C26.5 2.7928 22.2072 -1.5 16.9118 -1.5V1.5ZM13.3193 2.56455C14.3518 1.89133 15.5838 1.5 16.9118 1.5V-1.5C14.9845 -1.5 13.1858 -0.929799 11.6807 0.0515336L13.3193 2.56455ZM8.08824 1.5C9.41622 1.5 10.6482 1.89133 11.6807 2.56455L13.3193 0.0515336C11.8142 -0.929799 10.0155 -1.5 8.08824 -1.5V1.5ZM1.5 8.08824C1.5 4.44965 4.44965 1.5 8.08824 1.5V-1.5C2.7928 -1.5 -1.5 2.7928 -1.5 8.08824H1.5ZM2.56451 11.6807C1.89132 10.6482 1.5 9.41619 1.5 8.08824H-1.5C-1.5 10.0155 -0.92982 11.8141 0.0514782 13.3192L2.56451 11.6807ZM1.5 16.9116C1.5 15.5837 1.89132 14.3517 2.56451 13.3192L0.0514782 11.6807C-0.92982 13.1857 -1.5 14.9844 -1.5 16.9116H1.5ZM8.08824 23.4999C4.44965 23.4999 1.5 20.5502 1.5 16.9116H-1.5C-1.5 22.2071 2.7928 26.4999 8.08824 26.4999V23.4999ZM11.6807 22.4353C10.6482 23.1085 9.41622 23.4999 8.08824 23.4999V26.4999C10.0155 26.4999 11.8142 25.9297 13.3193 24.9483L11.6807 22.4353ZM16.9118 23.4999C15.5838 23.4999 14.3518 23.1085 13.3193 22.4353L11.6807 24.9483C13.1858 25.9297 14.9845 26.4999 16.9118 26.4999V23.4999ZM23.5 16.9116C23.5 20.5502 20.5504 23.4999 16.9118 23.4999V26.4999C22.2072 26.4999 26.5 22.2071 26.5 16.9116H23.5ZM22.4355 13.3192C23.1087 14.3517 23.5 15.5837 23.5 16.9116H26.5C26.5 14.9844 25.9298 13.1857 24.9485 11.6807L22.4355 13.3192Z" fill="#9FB4FF" mask="url(#path-1-inside-1)"/>
                                </svg>

                                div
                                    .dancecolor__text cделано для продвижения
                                    .dancecolor__name DANCECOLOR

                .clear_50